/* Use vendor prexifes if necessary

// Animations
-webkit-animation: mymove 5s infinite;
-moz-animation: mymove 5s infinite;
-o-animation: mymove 5s infinite;
animation: mymove 5s infinite;

// Transitions  
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;

// Transformations
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
*/

@keyframes slide-up {
    from {
        transform: translateY(10vh);
    }
    to {
        transform: translateY(0);
    }
}

.slide-up {
    animation: slide-up 0.3s ease-in;
}