// Create a color scheme that emphasizes order, professionalism, and authenticity
$white: #ffffff;
$silver: #d2dee6;
$blue: #005377;
$gold: #ffd700;
$earth: #5d3a1a;
$chocolate: #312011;
$darkChocolate: #160e07;
$black: #000000;

// Create a visual hierarchy of font sizes (perfect 1/4th)
$base-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
$base-font-size: 16px;
$fs-2: 1.333rem;
$fs-3: 1.777rem;
$fs-4: 2.369rem;
$fs-5: 3.157rem;
$fs-6: 4.209rem;
$fs-7: 5.61rem;
$fw-light: 300;
$fw-heavy: 600;

// Create grid variables (PENDING!!!)
$gridColumnsMobile: 1rem 1fr 1rem;
$gridColumnsDesktop: 1fr 1fr 66.67% 1fr 1fr;
$gridColumnsLg: 1fr 1fr 50% 1fr 1fr;

