// Create a color scheme that emphasizes order, professionalism, and authenticity
$white: #ffffff; // rgb(255,255,255)
$silver: #d2dee6; // rgb(210,222,230)

$blue: #005377; // rgb(0,83,119)
$blue-shade-3: #002a3c; // rgb(0,42,60)
$blue-tint-3: #007cb2; // rgb(0,124,178)

$gold: #ffd700; // rgb(255,215,0)
$earth: #5d3a1a; // rgb(93,58,26)
$chocolate: #312011; // rgb(49,32,17)
$darkChocolate: #160e07; // rgb(22,14,7)
$black: #000000; // rgb(0,0,0)

// Between $blue and $darkChocolate
$blue-darkChocolate-6: #0b313f; // rgb(11,49,63)

// Create a visual hierarchy of font sizes (perfect 1/4th)
$base-font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
$news-font: "Times New Roman", Times, Georgia, "DejaVu Serif", Garamond, serif;
$base-fs: 16px; 
$fs-2: clamp(1rem, 0.9167rem + 0.4166vw, 1.3333rem); // (1.3333^0) => (1.3333^1) // 1.7777
$fs-3: clamp(1.3333rem, 1.2222rem + 0.5555vw, 1.7777rem); // (1.3333^1) => (1.3333 * 2) //
$fs-4: clamp(1.7777rem, 1.4321rem + 1.7281vw, 3.1602rem);
$fs-5: 3.1602rem;
$fs-6: 4.2135rem; 
$fs-7: clamp(2.3702rem, 1.5583rem + 4.0595vw, 5.6178rem); // (1.3333^3) => (1.3333^6)

$fw-light: 300;
$fw-heavy: 600;

// Create grid variables (PENDING!!!)
$gridColumns-12: repeat(12, 1fr);

