.ff-news {
    font-family: $news-font;
}
.fs-2 {
    font-size: $fs-2;
}
.fs-3 {
    font-size: $fs-3;
}
.fs-4 {
    font-size: $fs-4;
}
.fs-5 {
    font-size: $fs-5;
}
.fs-6 {
    font-size: $fs-6;
}
.fs-7 {
    font-size: $fs-7;
}
.fw-light {
    font-weight: $fw-light;
}
.fw-heavy {
    font-weight: $fw-heavy;
}
.txt-white {
    color: $white;
}
.txt-silver {
    color: $silver;
}
.txt-blue {
    color: $blue;
}
.txt-gold {
    color: $gold;
}
.txt-earth {
    color: $earth;
}
.txt-chocolate {
    color: $chocolate;
}
.txt-dark-chocolate {
    color: $darkChocolate;
}
.txt-black {
    color: $black;
}




